/*************** Import ****************/

@font-face {
  font-family: "adelle";
  src: url(/src/assets/fonts/adelle-sans.otf);
}

/*************** Custom Properties ****************/

:root {
  --white_color: #ffffff;
  --black_color: #000000;
  --font_first_color: #4a4949;
  --font_second_color: #555555;
  --font_third_color: #1f1d1d;
  --button_color: #656565e9;
  --first_font: "adelle", normal;
  --icon_color: #65656561;
  --border_icon_color: #656565;
}

/*************** Reset ****************/

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 14px;
}
body {
  font-family: var(--first_font);
  line-height: 22px;
  overflow-x: hidden;
  background-color: var(--white_color);
  margin: 24px;
}
a {
  text-decoration: none;
  transition: 0.4s;
  color: var(--font_second_color);
}
a:hover {
  color: var(--font_third_color);
}
ul {
  list-style-type: none;
  list-style-position: outside;
}
li ::before {
  content: "· ";
  padding-right: 1px;
}
p {
  color: var(--font_second_color);
}

/*************** Utilities ****************/

.flex_column_center {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.width_max_porcentual {
  width: 100%;
}
a.no-effect {
  transition: none;
}
a.no-effect:hover {
  color: var(--font_second_color);
}
li > a > span.no-before::before {
  content: none;
  padding-right: 0;
}
li > a.no-effect::before {
  content: "·";
  padding-right: 18px;
}

/*************** Site Styles ****************/

/*********** Footer ************/
footer {
  & .footer_container {
    width: 1280px;
    & .logo_container {
      display: flex;
      margin-bottom: 1.5%;
      & img {
        display: flex;
        width: 130px;
        height: 32px;
      }
    }
    & .grid_container {
      display: grid;
      grid-template-columns: 250px repeat(5, 1fr);
      padding-top: 24px;
      padding-bottom: 24px;
      grid-column-gap: 24px;
      & .title {
        color: var(--font_first_color);
        font-weight: bold;
      }
      & .grid_item {
        /****** Sixth Column ********/
        & .flex_colum {
          /****** First Column ********/
          & .ul_suscription,
          .ul_download_app {
            padding: 3px 0 24px 1px;
          }
          & .editor_info {
            padding: 3px 0 24px 1px;
          }
          & .copyright {
            font-size: 12px;
            line-height: 18px;
          }
          & .fiscal_info {
            display: flex;
            align-items: center;
            padding: 8px 0 8px 0;
            & .fiscal_text {
              margin-left: 10px;
              font-size: 12px;
              line-height: 12px;
              color: var(--font_second_color);
            }
          }
          /****** Second Column ********/
          & .ul_section,
          .ul_services {
            padding: 3px 0 24px 1px;
          }
          /****** Third Column ********/
          & .ul_games,
          .ul_newsletters {
            padding: 3px 0 24px 1px;
          }
          /****** Quarter Column ********/
          & .ul_group_clarin {
            padding: 3px 0 24px 1px;
          }
          /****** Fifth Column ********/
          & .ul_digital_clarin,
          .ul_publicity,
          .ul_contact_us {
            padding: 3px 0 24px 1px;
          }
          /****** Sixth Column ********/
          & .diario_dia_container {
            display: flex;
            padding: 1%;
            padding-top: 24px;
            & img {
              width: 200px;
            }
          }
          & .button_diario_container {
            display: flex;
            width: 170px;
            height: 85px;
            align-items: center;
            justify-content: center;
            margin-top: 10px;
            border-radius: 25px;
            padding: 10px 20px;
            font-weight: 800;
            font-size: 12px;
            height: 44px;
            color: var(--white_color);
            border: none;
            background-color: var(--font_second_color);
            cursor: pointer;
            transition: 0.3s;
          }
          .button_diario_container:hover {
            background-color: var(--button_color);
          }
        }
      }
    }
    & .redes_container {
      display: flex;
      height: inherit;
      align-items: center;
      justify-content: center;
      padding: 24px 0 24px 0;
      border-top: solid 1px var(--icon_color);
      border-bottom: solid 1px var(--icon_color);
      & .icon_container {
        display: flex;
        flex-direction: row;
        gap: 24px;
        & .icon_facebook,
        .icon_twitter,
        .icon_linkedin,
        .icon_instagram,
        .icon_tiktok,
        .icon_youtube {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 36px;
          width: 36px;
          color: var(--icon_color);
          border: solid 1px var(--border_icon_color);
          border-radius: 100%;
        }
      }
    }
    .tyc_container {
      display: flex;
      height: auto;
      width: auto;
      justify-content: center;
      font-size: 12px;
      padding-top: 24px;
      & .ul_tyc {
        display: flex;
        flex-direction: row;
        height: inherit;
        width: inherit;
        justify-content: center;
        gap: 18px;
        & span {
          text-decoration: underline;
        }
      }
    }
  }
}

/*************** Media Querys ****************/

/*********** Footer ************/

/******** Tablet *********/
@media screen and (max-width: 1360px) {
  .footer_container {
    width: 100%;
  }
  .footer_container .grid_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}